{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Jeff's Home {% endblock %}</h1>
{% endblock %}   

{% block content %}
<img src = "../static/images/pfp.jpeg" alt = "pfp", height = "257" width = "193">
<style>
.textDiv{
    max-width:500px;
    background-color: rgb(240, 240, 240);
    font-family: serif;
    font-size: 16px;
    margin-bottom: 0.5cm;
}
</style>

<style>
.bodyDiv{
    font-family:serif;
    font-size: 16px;
    margin-bottom: 0.5cm;
    margin-top: 0.5cm;
}
</style>


<h1>About me</h1>
<div class = "textDiv">
I am a senior at the University of Chicago Laboratory Schools and have lived in Chicago for the past 7 years. In high school I was a two-time USA Math Olympiad Gold Medalist and Math Olympiad Program participant. I also play board games (Catan and Diplomacy are favorites), tennis, frisbee, and I love fruits!
</div>
<h1>Interests</h1>

<div class = "textDiv">
I am a mathematician at heart: I crave exploring the theory and relationships inherent in simple mathematical objects. I also am an avid programmer: I compete in coding competitions and enjoy creating software.
</div>



<div class = "bodyDiv">
Instagram: <a href="https://www.instagram.com/jeffreychen23/">@jeffreychen23</a>
<br>
Github: <a href="https://github.com/Eyed1"> @Eyed1</a>
<br>
Email: <a href="mailto:jeffreychen51@gmail.com"> jeffreychen51@gmail.com </a>
</div>
{%endblock%}
